<!DOCTYPE html>
<html>
<head>
    <title>site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!--<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>-->
    <script type="text/javascript">

        var sock = null;
        var ellog = null;
        window.onload = function () {
            ellog = document.getElementById('log');
            var wsuri;
            if (window.location.protocol === "file:") {
                wsuri = "ws://127.0.0.1:8080/ws_chat";
            } else {
                wsuri = "ws://" + window.location.hostname + ":8080/ws_chat";
            }
            if ("WebSocket" in window) {
                sock = new WebSocket(wsuri);
            } else if ("MozWebSocket" in window) {
                sock = new MozWebSocket(wsuri);
            } else {
                log("Browser does not support WebSocket!");
            }
            if (sock) {
                sock.onopen = function () {
                    log("Connected to " + wsuri);
                }
                sock.onclose = function (e) {
                    log("Connection closed (wasClean = " + e.wasClean + ", code = " + e.code + ", reason = '" + e.reason + "')");
                    sock = null;
                }
                sock.onmessage = function (e) {
                    log("Got echo: " + e.data);
                }
            }
        };
        function send() {
            var msg = document.getElementById('message').value;
            if (sock) {
                sock.send(msg);
                log("Sent: " + msg);
            } else {
                log("Not connected.");
            }
        }
        ;
        function log(m) {
            ellog.innerHTML += m + '\n';
            ellog.scrollTop = ellog.scrollHeight;
        }
        ;

    </script>
</head>
<body>
<h1>WebSocket Echo</h1>
<noscript>You must enable JavaScript</noscript>

<pre id="log" style="height: 20em; overflow-y: scroll; background-color: #faa;"></pre>

<p>Message: <input id="message" type="text" value="Hello, world!">
    <button onclick='send();'>Send Message</button>
</p>


</body>
</html>