{% extends 'base.html' %}

{% block head_script %}
    <link href="{{ url_for('static', filename = 'admin/node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}admin base{% endblock %}

{% block body %}

    {% block menubar %}
        <ul>
            <li><a href="{{ url_for('admin_controller.index') }}">Admin</a></li>
            <li><a href="{{ url_for('admin_controller.user') }}">User</a></li>
            <li><a href="{{ url_for('admin_controller.blog') }}">Blog</a></li>
            <li><a href="{{ url_for('admin_controller.chat') }}">Chat</a></li>
            <li><a href="{{ url_for('admin_controller.game') }}">Game</a></li>
        </ul>
    {% endblock %}

    {% block sidebar %}
        admin base sidebar
    {% endblock %}

    {% block main %}
        admin base main
    {% endblock %}

    {% block bottom_script %}
        <script src="{{ url_for('static', filename = 'admin/node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'admin/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'admin/dist/bundle.js') }}"></script>
    {% endblock %}

{% endblock %}
