{% extends 'base.html' %}

{% block head_script %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'admin/dist/bundle.js') }}"></script>
{% endblock %}

{% block title %}admin base{% endblock %}

{% block body %}

    {% block menubar %}
        <ul>
            <li><a href="{{ url_for('admin_controller.index') }}">Admin</a></li>
            <li><a href="{{ url_for('admin_controller.article_list') }}">User</a></li>
            <li><a href="{{ url_for('admin_controller.user_list') }}">Blog</a></li>
            <li><a href="{{ url_for('admin_controller.article_list') }}">Chat</a></li>
            <li><a href="{{ url_for('admin_controller.article_list') }}">Game</a></li>
        </ul>
    {% endblock %}

    {% block sidebar %}
        admin base sidebar
    {% endblock %}

    {% block main %}
        admin base main
    {% endblock %}

{% endblock %}
